# Dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build & Output
dist/
build/
client/dist/
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
